<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mirrorme | a discord bot</title>
    <link rel="stylesheet" href="/public/app.css">
    <link rel="stylesheet" href="/icons.css">
    <link rel="icon" type="image/svg+xml" href="/ico.svg">
    <link rel="alternate icon" href="/fav.ico">
    <link rel="mask-icon" href="/ico.svg" color="#000">
</head>

<body>

    <!--chat app-->
    <main id="chat">
        <div class="message">
            <span class="prof-image"></span>
            <div class="text">
                <div class="msg-info"><span class="msg-author">MoPaMo</span><span class="msg-date">today</span></div>
            </div>
        </div>

    </main>
    <!-- /chat app-->
    <aside id="aside">Hi</aside>
    <section id="writebar"><input></section>
    <section>share mirrorme</section>
</body>

</html>