<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>mirrorme | a discord bot</title>
    <link rel="stylesheet" href="/public/app.css" />
    <link rel="stylesheet" href="/icons.css" />
    <link rel="icon" type="image/svg+xml" href="/ico.svg" />
    <meta name="description" content="Mirror discord to the web using mirrorme, the open source discord bot ">
    <link rel="alternate icon" href="/fav.ico" />
    <link rel="mask-icon" href="/ico.svg" color="#000" />
  </head>

  <body id="main">
    <div id="loadscreen" v-if="loading"><br /><span style="font-weight:bolder">LOADING...</span><br/><i>{{load_reason}}</i></div>
    <!--chat app-->
    <main id="chat" v-if="!loading">
      <div class="message" v-for="msg in msgs">
        <a
          class="prof-image"
          target="_blank"
          :href="'https://discordapp.com/users/'+msg.id"
          ><img
            :src="msg.img"
            :alt="msg.author+'\'s profile picture. Click to open discord (works only with friends)'"
            title="Click to open discord (works only with friends)"
        /></a>
        <div class="text">
          <div class="msg-info">
            <a
              class="msg-author"
              :href="'https://discordapp.com/users/'+msg.id"
              target="_blank"
              title="Click to open discord (works only with friends)"
              >{{msg.author}}
            </a>
            <span class="msg-date"> {{msg.date}}</span>
          </div>
          <div class="msg-text">{{msg.text}}</div>
        </div>
      </div>
    </main>
    <!-- /chat app-->
    <aside id="aside" v-if="!loading"><h1>mirrorme</h1> mirroring</aside>
    <section id="writebar" v-if="!loading"><input /></section>
    <section v-if="!loading">share mirrorme</section>
    <script src="/public/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app.js"></script>
  </body>
</html>
