<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title>MirrorMe | a discord bot</title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="Mirrorme: An open source Discord bot to mirror all your server's messages to the web!"
    />
    <meta name="image" content="https://mirror.mopamo.repl.co/ico.png" />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="MirrorMe" />
    <meta
      itemprop="description"
      content="Mirrorme: An open source Discord bot to mirror all your server's messages to the web!"
    />
    <meta itemprop="image" content="https://mirror.mopamo.repl.co/ico.png" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="MirrorMe" />
    <meta
      name="twitter:description"
      content="Mirrorme: An open source Discord bot to mirror all your server's messages to the web!"
    />
    <meta
      name="twitter:image:src"
      content="https://mirror.mopamo.repl.co/ico.png"
    />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="MirrorMe" />
    <meta
      name="og:description"
      content="Mirrorme: An open source Discord bot to mirror all your server's messages to the web!"
    />
    <meta name="og:image" content="https://mirror.mopamo.repl.co/ico.png" />
    <meta name="og:url" content="https://mirror.mopamo.repl.co" />
    <meta name="og:site_name" content="MirrorMe" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/icons.css" />
    <link rel="icon" type="image/svg+xml" href="/ico.svg" />
    <link rel="alternate icon" href="/fav.ico" />
    <link rel="mask-icon" href="/ico.svg" color="#000" />
    <meta
      name="description"
      content="Mirrorme: An open source Discord bot to mirror all your server's messages to the web!"
    />
  </head>

  <body>
    <nav
      class="navbar is-info is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item title" href="https://mirror.mopamo.repl.co">
          mirrorme
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/#about"> About </a>
          <a class="navbar-item" href="/docs"> Docs </a>
          <a class="navbar-item" href="/tos">Code of conduct</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/add">
                <strong>Invite</strong>
              </a>
              <a
                rel="noopener"
                class="button is-light"
                target="_blank"
                href="https://github.com/MoPaMo/mirrorme"
                >Contribute</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <br /><br /><br />
    <section class="section">
      <div class="container">
        <h1 class="title">mirrorme</h1>
        <p class="subtitle">
          An open source Discord bot to mirror all your server's messages to the
          <strong>web</strong>!
        </p>
      </div>
    </section>

    <section class="hero is-primary">
      <div class="hero-body">
        <h3 class="title">Add mirrorme now!</h3>
        <p class="subtitle">
          <a
            rel="noopener"
            href="/add"
            class="button is-primary is-light is-medium"
          >
            Click here!
          </a>
        </p>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column content">
          <h3 class="">It's so easy!</h3>
          <p class="is-size-3-tablet">
            Just <a href="/add">invite</a> MirrorMe to your server and it will
            do all the setup!
          </p>
          <p>
            <a rel="noopener" href="/add" class="button is-info is-medium"
              >&rarr; Get started</a
            >
          </p>
        </div>
        <div class="column is-one-third">
          <img
            src="/mirrorme-showoff.svg"
            alt="Image showing discord login and mirrorme arriving at the server"
          />
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h3 class="title is-size-4">Old fashioned?</h3>
        <h4>
          If you don't have a link, you can also type the server details in here
          by hand, but it's a lot of work!
        </h4>
        <form method="POST" action="/app-fwd/">
          <div class="field">
            <label class="label">Server ID</label>
            <div class="control">
              <input
                class="input"
                name="id"
                type="text"
                placeholder="e.g 123456789"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input
                class="input"
                type="password"
                name="pwd"
                placeholder="e.g. kLX6wRpNLxnJiNSg1OGp"
              />
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <input type="submit" class="button is-primary" value="Log In" />
            </p>
            <p class="control">
              <input
                type="reset"
                class="button is-danger is-inverted"
                value="Clear data"
              />
            </p>
          </div>
        </form>
      </div>
    </section>
    <section class="section">
      <article class="message is-warning">
        <div class="message-header">
          <p>What MirrorMe is not</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          MirrorMe <strong>is not a replace for Discord</strong>. If you've got
          the possibility to use Discord, use it! MirrorMe has just some very
          rudimentary chat functions for text only (you will also need tp have a
          Discord server to use it)! It was designed for usecases, when you
          might need to access data from <em> the outside </em> or for some
          roleplays where you need to chat anonymously (there are certainly
          numerous other use cases you will come up - keep in mind it's
          <a href="https://github.com/MoPaMo/mirrorme">Open Source</a> so you
          can always remix it or request new features).
        </div>
      </article>
    </section>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Most recent commits</p>
        <a
          rel="noopener"
          class="card-header-icon"
          href="https://github.com/MoPaMo/mirrorme"
          aria-label="open GitHub"
        >
          <span class="icon">
            <i class="icon-github" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns" id="col">
            <div class="column">
              <div class="notification">
                <button class="button is-loading">Loading</button>
              </div>
            </div>
            <div class="column">
              <div class="notification">
                <button class="button is-loading">Loading</button>
              </div>
            </div>
            <div class="column">
              <div class="notification">
                <button class="button is-loading">Loading</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>mirrorme</strong> by
          <a rel="noopener" href="https://mopamo.github.io">MoPaMo</a>. The
          source code is licensed
          <a
            rel="noopener"
            href="http://opensource.org/licenses/mit-license.php"
            >MIT</a
          >.
        </p>
        <div class="columns">
          <div class="column">
            <a rel="noopener" href="/add" class="has-text-dark button is-light"
              >Invite mirrorme</a
            >
          </div>
          <div class="column">
            <a href="/docs" class="has-text-dark">Docs</a><br />
            <a
              rel="noopener"
              href="https://github.com/MoPaMo/mirrorme"
              class="has-text-dark"
              ><span class="icon"> <i class="icon-github"></i> </span>GitHub</a
            >
          </div>
          <div class="column">
            <a href="/license" class="has-text-dark">License</a> <br />
            <a href="/tos" class="has-text-dark">Code of Conduct</a>
          </div>
          <div class="column">
            <a
              rel="noopener"
              href="https://stats.uptimerobot.com/BErLNFVkyE/787978795BErLNFVkyE"
              class="has-text-dark"
              >Status</a
            >
            <br />
            <a
              rel="noopener"
              href="https://app.piratepx.com/shared/a0x1xG0GdE5R133Fsyii7UCwcdvptZSkFNOfIjwGoza4VRgH9ih0i3KSPUYq8u5T"
              class="has-text-dark"
              >Anonymus analytics (piratepx)</a
            >
            <br />
            <a rel="noopener" href="https://replit.com" class="has-text-dark"
              >Hosted on replit.com</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
    <script src="/index.js"></script>
    <img
      src="https://app.piratepx.com/ship?p=7d6c6d33-0a28-4aea-b3cb-a3daf6e5dd98&i=index"
      alt="Hi, I'm a pixel.I don't collect any identifiable data :)"
    />
  </body>
</html>
