#chat {
  background-color: #2f3236;
  color: #ffffff;
}
html,
body {
  background-color: #2f3236;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
  display: grid;
  grid-template-columns: auto 10vw;
  grid-template-rows: auto 7.5vh;
  width: 100vw;
  height: 100vh;
}
#aside {
  background-color: #232629;
}
#writebar {
  text-align: center;
  max-height: 7.5vh;
  overflow-y: hidden;
}

#writebar > input {
    transition-duration: 0.5s;
  background-color: #40434a;
  color: white;
  display: inline-block;
  width: 80%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0px solid black;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
    outline: none;
}
#writebar > input:focus,#writebar > input:hover {
    border: 0px solid black;
    border-radius: 0.55rem;
    outline: none;

}